<!DOCTYPE HTML>
<html ng-app="myAngularApp" ng-controller="appInfoController">
	<head>
		<title>Digital Electronic Music Store</title>
		<link rel="stylesheet" href="lib/stylesheets/styles.css">
		<meta charset="utf-8">
	  	<script src="lib/scripts/angular.min.js"></script>
	 	<script src="lib/scripts/app.js"></script>
	 	<script src="lib/scripts/services.js"></script>
	 	<script src="lib/scripts/controllers.js"></script>
	</head>
	<body>
		<header>
			<h1>DJ Expo</h1>
		</header>
		<div class="container">
			<article>
				<h1>Electronic Extravaganza</h1>
				<h2>Get your beats, kicks and synths.</h2>
			</article>
		</div>
		<div class="container albums">
			<section class="one-third" ng-repeat="song in songs">
				<h3>{{song.artist}} - {{song.title}}</h3>
				<div class="hover-class-position">
					<img ng-src='lib/img/albums/{{song.id}}.jpg' ng-click="toggleAlbumState(song);" ng-class="{active: song.selected}"> <!-- When song is selected, add the 'active' class to this element. -->
					<div class="hover-album" ng-class="{active: song.selected}">
						<ul>
							<li><div class="grey-text">Title: </div>{{song.title}}</li>
							<li><div class="grey-text">Artist: </div>{{song.artist}}</li>
							<li><div class="grey-text">Album: </div>{{song.album}}</li>
							<li><div class="grey-text">Track #: </div>{{song.id}}</li>
							<li><div class="grey-text">Label: </div>{{song.label}}</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<div class="page-numbers" ng-repeat="pages in songs">
			<a href="{{pages.number}}">
		</div>
		<footer>
			<div class="footer-links-float-left">
				<a href="about.html">About DJ Expo</a>
				<a href="about.html">Contact Us</a>
				<a href="about.html">FAQs</a>
			</div>
			<p>&copy; 2013-2014 DJ Expo</p>
		</footer>
	</body>
</html>
